@media (max-width:990px) {
/*共通*/
.block_70{
	width: 100%;
}
.for_mobile{
	display: block;  
}
.for_pc{
	display: none;
}
/* navi*/
nav ul.navi, .header_R, .header_b{
	display: none;
}
nav, .header_h{
	width: 100%;
}
.h_logo{
	width: 100%;
	float: none;
	text-align: center;
}
.header_R_mobile{
	display: block;
	float: right;
	padding-bottom: 10px;
}
.header_R_mobile p{
	width: 100%;
	padding: 0;
}
.header_R_mobile ul li.sns{
	float: left;
    padding-top: 5px;
}
.header_R_mobile ul.sns_mobile{
	width: 141px;
	padding-bottom: 10px;
}
.header_R_mobile ul:after{
	content: '';
	clear: both;
}
#navToggle {
    display:block; 
    position:absolute; 
    right:13px;
    top:13px;
    width:30px;
    height:25px;
    cursor:pointer;
    background-color: #243E65;
}
#navToggle div {
	position:relative
}
/*spanの絶対位置指定の親にします*/
#navToggle span {
    display:block;
    position:absolute;
    width:100%;
    border-bottom:solid 3px #999;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
#navToggle span:nth-child(1) {
	top:0;
}
#navToggle span:nth-child(2) {
	top:11px;
}
#navToggle span:nth-child(3) {
	top:22px;
} 	
/* topページ*/	
.top_img{
	background-image: none;
	padding-top: 0;
}	
.concept{
	margin: auto;
}
.concept ul{
	display: block;
}	
.concept ul li, .rule ul li, .policy .text_L, .policy .img_R, .text_L{
	width: 90%;
	margin: auto;
	float: none;
}
.policy{
    background-image: none;
	height: auto;
}
.policy h2{
	background-image: url(../img/top_policy.jpg);
	background-repeat: no-repeat;
	background-size: cover;  
	padding: 60px 0;
}	
.policy .text_L{
	background-color: #243E65;
}	
.policy .img_R{
	margin-top: 15px;
}
.topic{
	margin-top: 0;
}
/* aboutページ*/	
.about_b2{
	height: auto;
}
.about_block2{
	margin-top: 0;		
}
}
