@media (max-width:990px) {
/*共通*/
.block_70{
	width: 100%;
}
.for_mobile{
	display: block;  
}
.for_pc{
	display: none;
}
/* navi*/
nav .navi, .header_R, .header_b{
	display: none;
}
nav, .header_h{
	width: 100%;
}
nav.fixed .header_h{
	width: 100%;
}
.h_logo{
	width: 100%;
	float: none;
	text-align: center;
	padding-top: 0;
}
.header_R_mobile{
	display: block;
	float: right;
	padding-bottom: 10px;
	margin-right: 5px;
}
.header_R_mobile p{
	width: 100%;
	padding: 0;
}
.header_R_mobile ul .sns{
	float: left;
    padding: 10px 3px 10px;
}
.header_R_mobile .sns_mobile{
	width: 131px;
	padding-top: 7px;
	float: right;
}
.header_R_mobile ul:after{
	content: '';
	clear: both;
}
#top-head{
	display: block;
}
/* Toggle Button */
#nav-toggle {
    position: absolute;
    right: 12px;
    top: 14px;
    width: 34px;
    height: 36px;
    cursor: pointer;
    z-index: 101;
}
nav{
	height: auto;
}
#nav-toggle div {
    position: relative;
}
#nav-toggle span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: #666;
    left: 0;
    -webkit-transition: .35s ease-in-out;
    -moz-transition: .35s ease-in-out;
    transition: .35s ease-in-out;
}
#nav-toggle span:nth-child(1) {
    top: 0;
}
#nav-toggle span:nth-child(2) {
    top: 11px;
}
#nav-toggle span:nth-child(3) {
    top: 22px;
}
#top-head,.inner {
        width: 100%;
        padding: 0;
}
#top-head {
    top: 0;
    position: fixed;
    margin-top: 0;
}
#top-head.fixed {
    padding-top: 0;
    background: transparent;
}
#mobile-head {
    background: #fff;
    width: 100%;
    height: 95px;
    z-index: 999;
    position: relative;
}
#top-head.fixed .logo,
#top-head .logo {
    position: absolute;
    left: 13px;
    top: 13px;
    color: #333;
    font-size: 26px;
}
#global-nav {
    position: absolute;
    top: -470px;
    background: #333;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    box-sizing: border-box;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
#global-nav ul {
    list-style: none;
    position: static;
    right: 0;
    bottom: 0;
    font-size: 14px;
}
#global-nav ul li {
    float: none;
    position: static;
}
#top-head #global-nav ul li a,
#top-head.fixed #global-nav ul li a {
    width: 100%;
    display: block;
    color: #fff;
    padding: 18px 0;
    box-sizing: border-box;
}
#nav-toggle {
    display: block;
}
.open #nav-toggle span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    transform: rotate(315deg);
}
.open #nav-toggle span:nth-child(2) {
    width: 0;
    left: 50%;
}
.open #nav-toggle span:nth-child(3) {
    top: 11px;
    -webkit-transform: rotate(-315deg);
    -moz-transform: rotate(-315deg);
    transform: rotate(-315deg);
}
.open #global-nav {
    -moz-transform: translateY(556px);
    -webkit-transform: translateY(556px);
    transform: translateY(556px);
}
a{
	text-decoration: none;
}
/* topページ*/	
.top_img{
	background-image: none;
	padding-top: 0;
}	
.concept{
	margin: auto;
}
.concept ul{
	display: block;
}	
.concept ul li, .rule ul li, .policy .text_L, .policy .img_R, .text_L{
	width: 90%;
	margin: auto;
	float: none;
}
.policy{
    background-image: none;
	height: auto;
}
.policy h2{
	background-image: url(../img/top_policy.jpg);
	background-repeat: no-repeat;
	background-size: cover;  
	padding: 60px 0;
}	
.policy .text_L{
	background-color: #243E65;
}	
.policy .img_R{
	margin-top: 15px;
}
.topic{
	margin-top: 0;
}
/* aboutページ*/	
.about_b2{
	height: auto;
}
.about_block2{
	margin-top: 0;		
}
}
